.env
zephyr
.devcontainer
_pycache__
build
builds
.venv
.west
bootloader
arm_samples
elf_disassembly
file_lists
line_change_csvs
linux_builds
pyelftools-master
verbose_outputs
zephyr2_7_2
zephyr3_1_0
zephyr3_2_0
analysis.csv
dummy.csv
output.csv
parse_old.py
samples
modules
.vscode